@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}

.nav-bg{
    background-color: #562EFF;
}
.text-color{
    color:#562EFF;
}
.navbar img{
    width: 40px;
}
.logo-text{
    margin-left: 10px;
}
.content-one img{
    width: 45px;
}
.content-two img{
    width: 200px;
}
.divider{
    border: 1px solid #c0bdbd;
}
.course-card-text{
    color:#ED6B4F;
    font-size: 15px;
}
.card-radius{
    border-radius: 16px;
}
.card-footer img{
    width: 20px;
}
.card-footer p{
    margin: 0;
}